<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TenpoInfoMapper">

    <!-- 全件検索 -->
    <select id="findAll" resultType="com.example.demo.entity.TenpoInfo">
        SELECT * FROM daikoudb.tenpoinfotable WHERE delete_date IS NULL
    </select>
    
        <!-- 主キー検索 -->
    <select id="findById" resultType="com.example.demo.entity.TenpoInfo">
        SELECT * FROM daikoudb.tenpoinfotable WHERE id=#{id} AND delete_date IS NULL
    </select>
    
        <!-- 条件指定検索 -->
    <select id="search" resultType="com.example.demo.entity.TenpoInfo">
        SELECT
            *
        FROM
            daikoudb.tenpoinfotable
        WHERE
            delete_date IS NULL
            <if test="id != null and id != ''">
                AND id LIKE CONCAT('%', #{id}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
     </select>
     
         <!-- 新規登録 -->
    <insert id="save">
        INSERT INTO daikoudb.tenpoinfotable
            (name, address, phone, time, url, image, image_name, update_date, create_date)
        VALUES
            (#{name}, #{address}, #{phone}, #{time}, #{url, jdbcType=VARCHAR},
             #{image, jdbcType=BLOB},
             #{image_name, jdbcType=VARCHAR},
              CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
    </insert>
    
        <!-- 更新 -->
    <update id="update">
        UPDATE daikoudb.tenpoinfotable SET name = #{name}, address = #{address}, phone = #{phone}, time = #{time}, url = #{url, jdbcType=VARCHAR}, image = #{image, jdbcType=BLOB}, image_name = #{image_name, jdbcType=VARCHAR}, update_date = CURRENT_TIMESTAMP WHERE id = #{id}
    </update>
    
        <!-- 論理削除 -->
    <update id="delete">
        UPDATE daikoudb.tenpoinfotable SET delete_date = CURRENT_TIMESTAMP WHERE id = #{id}
    </update>
     
</mapper>